<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <title>My Blog</title>
</head>
<body>
  <header>

    <div class="logo">
      <img src="/styles/images/B.png" alt="B as a logo" width="40">
      <p>MyBlog</p>
    </div>

    <div class="search">
      <input type="text" placeholder="Search in the blog">
      <button type="submit"><span class="material-symbols-outlined">
        search
        </span></button>
    </div>

    <nav>
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Store</a></li>
      </ul>
    </nav>
  </header>